* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.out-container {
    height: 450px;
    width: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border: 1px solid;
}
.in-container {
    height: 95%;
    width: 100%;
}
.in-container> .display{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}
.display> .ans-display {
    height: 80%;
    width: 100%;
    padding: 2px;
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid;
    border-left: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}
.display> .operation-sign {
    height: 80%;
    width: 10%;
    font-family: Arial, sans-serif; 
    font-size: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-right: none;
}
.in-container>.buttons {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}
.buttons> .grid-item {
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.buttons> .zero-btn {
    grid-column-start: 1; 
    grid-column-end: 3;   
}
